.App {
  text-align: center;
}

.App-header {
  background-color: #ffffff;
  background-image: url('../images/healing-hands.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.App-header nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #f0f0f0; /* Add background color */
  border-radius: 10px; /* Add rounded corners */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Add box shadow */
  padding: 10px;
}

.App-header nav ul li {
  margin: 10px;
}

.App-header nav ul li a {
  color: #333; /* Change font color */
  text-decoration: none;
  transition: color 0.3s ease; /* Add transition for hover effect */
}

.App-header nav ul li a:hover {
  color: #325174; /* Change color on hover */
}

/* Style pour les sous-menus */
.App-header nav ul li ul {
  list-style: none;
  padding: 0;
  margin-left: 0; /* Remove indentation for submenus */
  display: none; /* Masquer par défaut */
  position: absolute;
  background-color: #fff; /* Add background color */
  border-radius: 5px; /* Add rounded corners */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Add box shadow */
  z-index: 1;
  min-width: 150px; /* Set a minimum width for the submenu */
}

.App-header nav ul li:hover > ul {
  display: block; /* Afficher au survol du parent */
}

.App-header nav ul li ul li {
  margin: 5px 0;
  padding: 5px 10px; /* Add padding to submenu items */
  text-align: left; /* Align text to the left */
}

.App-header nav ul li ul li a {
  color: #333; /* Change font color */
  display: block; /* Make the whole area clickable */
  transition: background-color 0.3s ease; /* Add transition for hover effect */
}

.App-header nav ul li ul li a:hover {
  background-color: #f0f0f0; /* Change background color on hover */
}

.App-footer {
  background-color: #2c3e50;
  color: white;
  text-align: center;
  padding: 20px 0;
  position: relative;
  width: 100%;
  z-index: 100;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.App-footer nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.App-footer nav ul li {
  margin: 10px;
}

.App-footer nav ul li a {
  color: white;
  text-decoration: none;
}

.Accueil {
  padding: 20px;
}
