.App {
  text-align: center;
}

.App-header {
  background-color: #ffffff;
  background-image: url('../images/healing-hands.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.App-header nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.App-header nav ul li {
  margin: 10px;
}

.App-header nav ul li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

/* Style pour les sous-menus */
.App-header nav ul li ul {
  list-style: none;
  padding: 0;
  margin-left: 20px; /* Indentation pour les sous-menus */
  display: none; /* Masquer par défaut */
  position: absolute;
  background-color: #c4c4c4;
  z-index: 1;
}

.App-header nav ul li:hover > ul {
  display: block; /* Afficher au survol du parent */
}

.App-header nav ul li ul li {
  margin: 5px 0;
}

.App-footer {
  background-color: #617397;
  color: white;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
}

.App-footer nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.App-footer nav ul li {
  margin: 10px;
}

.App-footer nav ul li a {
  color: white;
  text-decoration: none;
}

.Accueil {
  padding: 20px;
}
